<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h1>Livros</h1>

            <table class="mt-5 table table-bordered table-hover table-small">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Total de exemplares</th>
                        <th>Exemplares disponíveis</th>
                    </tr>
                </thead>
                <tbody>
                    @for (resumo of recurso; track resumo.livro.id) {
                    <tr>
                        <td>
                            {{ resumo.livro.titulo }}
                            @if (resumo.livro.subtitulo) {
                                <br>
                                {{ resumo.livro.subtitulo }}
                            }
                        </td>
                        <td>{{ resumo.autor.nome }}</td>
                        <td>{{ resumo.totalExemplares }}</td>
                        <td>{{ resumo.exemplaresDisponiveis }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>